# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
data/DEM (1).tif
data/govt_aoi_maval.dbf
data/govt_aoi_maval.prj
data/govt_aoi_maval.shp
data/govt_aoi_maval.shx
data/maval_plots.cpg
data/maval_plots.dbf
data/maval_plots.prj
data/maval_plots.shp
data/maval_plots.shx
data/open_buildings_extracted.cpg
data/open_buildings_extracted.dbf
data/open_buildings_extracted.fix
data/open_buildings_extracted.prj
data/open_buildings_extracted.shp
data/open_buildings_extracted.shx
data/Tanmay/PMRDA_Building.cpg
data/Tanmay/PMRDA_Building.dbf
data/Tanmay/PMRDA_Building.prj
data/Tanmay/PMRDA_Building.qmd
data/Tanmay/PMRDA_Building.shp
data/Tanmay/PMRDA_Building.shx
docs/PMRDA_Landslide_Brief.md
docs/PMRDA_Landslide_Detailed_Methodology_and_Literature.md
docs/PMRDA_Landslide_Scientific_Assumptions_Validation_Register.md
docs/PMRDA_Landslide_Workflow_Technical_Documentation.md
Maval_PMRDA_Land.kmz
PMRDA_Landslide_Brief.docx
PMRDA_Landslide_Detailed_Methodology_and_Literature.docx
PMRDA_Landslide_Scientific_Assumptions_Validation_Register.docx
PMRDA_Landslide_Workflow_Technical_Documentation.docx
PMRDA_Leaflet_Landslide_Dashboard_Implementation_Plan_Integrated.md
PMRDA_Mitigation_Policy_Differentiation_Assumptions.docx
PMRDA_Leaflet_Landslide_Dashboard_Implementation_Plan-1.md
*.zip
dashboard.zip
